<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Project Title</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body class="darker">
  <nav class="nav" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Team
        AI Strikers</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#demo">Demo</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#demo">Demo</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot darker" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center">Project Title</h1>
      <div class="row center">
        <h5 class="header col s12 light">Generate a playlist based on your mood</h5>
      </div>
      <div class="row center">
        <a href="#demo" id="get-started" class="btn-large waves-effect waves-light">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container background">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">insert_emoticon</i></h2>
            <h5 class="center">Computer Vision Technology</h5>

            <p class="light">It uses OpenCV and a Keras model to do face recognition and emotion detection.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Can Handle Multiple Users</h5>

            <p class="light">By having a face recognition technology, the app is able to distinguish different users and
              play suggested playlist based on their current emotion and liked songs.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">important_devices</i></h2>
            <h5 class="center">Internet of Things</h5>

            <p class="light">Due to the lightweight models, the app can be implemented into smart mirrors, home cameras,
              and other Internet of Things that can support computer vision.</p>
          </div>
        </div>
      </div>

    </div>
    <!-- Camera section -->
    <div class="section center" id="demo">
      <h5 class="center">Try it out!</h3>
        <img class="center" style="object-fit: contai;" src="{{ url_for('video_feed') }}">
        <br><br>
        <a class="waves-effect waves-light btn-large" id="generate">Generate personalized playlist</a>
    </div>

    <br><br>
  </div>

  <footer class="page-footer footer">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="footer">Team Description</h5>
          <p class="footer">Do some placeholder text that signifies team description. The quick brown
            fox jumped over the lazy dog.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="footer">Members</h5>
          <ul>
            <li><a class="footer" href="#!">Mentor: Purvesh</a></li>
            <li><a class="footer" href="#!">Neelima</a></li>
            <li><a class="footer" href="#!">Alexa</a></li>
            <li><a class="footer" href="#!">Jed Rendo Magracia</a></li>
          </ul>
        </div>

        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container bottom">
        Made by <a class="bottom text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>

</body>

</html>