{% extends "index.html" %}

{% block button %}
<a href="/" id="get-started" class="btn-large waves-effect waves-light">Start Over</a>
{% endblock %}

{% block main %}
<div class="section center" id="demo">
	<h5 class="center">Playlist generated!</h5>
	<img class="center" style="object-fit: contain;" src={{ url_for('video_feed') }}>
	<br><br>

	<h6>Welcome {{ name }}! You look {{ emotion }}. Here's a generated playlist based on your mood!</h6>
	<br><br>

	{% for song in songs %}
	<div class="video-container">
		<iframe src="{{ song }}" style="object-fit: contain;" frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen></iframe>
	</div>
	{% endfor %}
</div>
{% endblock %}